/admin_actions.pyc
/agents.pyc
/aggregates.pyc
/assisted_volume_snapshots.pyc
/attach_interfaces.pyc
/availability_zone.pyc
/baremetal_ext_status.pyc
/baremetal_nodes.pyc
/block_device_mapping_v2_boot.pyc
/cell_capacities.pyc
/cells.pyc
/certificates.pyc
/cloudpipe.pyc
/cloudpipe_update.pyc
/config_drive.pyc
/console_auth_tokens.pyc
/console_output.pyc
/consoles.pyc
/createserverext.pyc
/deferred_delete.pyc
/disk_config.pyc
/evacuate.pyc
/extended_availability_zone.pyc
/extended_evacuate_find_host.pyc
/extended_floating_ips.pyc
/extended_hypervisors.pyc
/extended_ips.pyc
/extended_ips_mac.pyc
/extended_networks.pyc
/extended_quotas.pyc
/extended_rescue_with_image.pyc
/extended_server_attributes.pyc
/extended_services.pyc
/extended_services_delete.pyc
/extended_status.pyc
/extended_virtual_interfaces_net.pyc
/extended_volumes.pyc
/fixed_ips.pyc
/flavor_access.pyc
/flavor_disabled.pyc
/flavor_rxtx.pyc
/flavor_swap.pyc
/flavorextradata.pyc
/flavorextraspecs.pyc
/flavormanage.pyc
/floating_ip_dns.pyc
/floating_ip_pools.pyc
/floating_ips.pyc
/floating_ips_bulk.pyc
/fping.pyc
/hide_server_addresses.pyc
/hosts.pyc
/hypervisor_status.pyc
/hypervisors.pyc
/image_size.pyc
/instance_actions.pyc
/instance_usage_audit_log.pyc
/keypairs.pyc
/migrations.pyc
/multinic.pyc
/multiple_create.pyc
/networks_associate.pyc
/os_networks.pyc
/os_tenant_networks.pyc
/preserve_ephemeral_rebuild.pyc
/quota_classes.pyc
/quotas.pyc
/rescue.pyc
/scheduler_hints.pyc
/security_group_default_rules.pyc
/server_diagnostics.pyc
/server_external_events.pyc
/server_group_quotas.pyc
/server_groups.pyc
/server_list_multi_status.pyc
/server_password.pyc
/server_start_stop.pyc
/server_usage.pyc
/services.pyc
/shelve.pyc
/simple_tenant_usage.pyc
/used_limits.pyc
/used_limits_for_admin.pyc
/user_data.pyc
/user_quotas.pyc
/virtual_interfaces.pyc
/volume_attachment_update.pyc
/volumes.pyc
